# Build and Compilation Artifacts
*.o
*.obj
*.out
*.exe
*.a
*.lib
*.so
*.dll
*.dylib
*.gch
*.pch

# Debugging and IDE
*.dSYM/
.vscode/ipch/
.vscode/.browse.vc.db
.vscode/*.vc.db
*.suo
*.user
*.userossc
*.sln
*.vcxproj
*.filters

# System and Log files
*.log
.DS_Store
Thumbs.db
desktop.ini

